@inherits LayoutComponentBase

<div class="bg-info text-white p-2">
    <span class="navbar-brand m-lg-2">Bookstore Admin</span>
</div>

<div class="container-fluid">
    <div class="row p-2">
        <div class="col-4">
            <div class="sidebar left" style="width:100%;">

                <ul class="list-sidebar bg-defoult">
                    @*I'm using font-awesome and the sidebar class as well as the active attributes to make a better looking sidebar. For the second thing, I also added a little bootstrap animation that plays whenever Books or Purchases is clicked.*@
                    <li> <NavLink href="/admin/books" ActiveClass="active" Match="NavLinkMatch.Prefix"><i class="fa fa-files-o"></i> <span class="nav-label">Books</span></NavLink></li>
                    <li> <NavLink href="/admin/purchases" ActiveClass="active" Match="NavLinkMatch.Prefix"><i class="fa fa-files-o"></i> <span class="nav-label">Purchases</span></NavLink> </li>
                </ul>

            </div>
        </div>

        <div class="col-8">
            @Body
        </div>
    </div>
</div>