@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<h1>Online Book Store</h1>

@foreach (Book book in Model.Books)
{
    <partial name="BookSummary" model="book" />
}

<div class="mt-2" page-model="@Model.PageInfo" page-action="Index"></div>
